{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Books List
{% endblock %}

{% block content %}
  <div class="container">
    <h4>Books List</h4>
    <div style="display: flex;">
      <div><a class="btn btn-outline-success m-2" href="{% url 'book_create' %}">Add Book</a></div>
      <div class="m-2">
      <form action="" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" name="q" placeholder="Search a book">   
      </form>
      </div>
    </div>
    {% if books_found %}
      <p>{{ books_found }} books found.</p>
    {% endif %}
    <table class="table table-sm">
      <thead>
        <tr>
          <th class="col">Title</th>          
          <th class="col">Authors</th>          
          <th class="col">Published Date</th>
          <th class="col">Category</th>          
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr>
            <td width="450"><a class="a_no_underline" href="{% url 'book_detail' book.pk %}">{{book.title}}</a></td>
            <td width="450">{{book.authors}}</td>
            <td>{{book.published_date}}</td>
            <td>{{book.category}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div style="display: flex; align-items: center;">
      <div>
      {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a> | 
        <a href="?page={{page_obj.paginator.num_pages}}">Last</a> | 
      {% endif %}
      </div>
      <div>
      {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous</a> | 
        <a href="?page=1">First</a>
      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}