{% extends '_base.html' %}
{% load static %}

{% block title %}
  Book Categories
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h4>Book Categories</h4>
    <div>
      {% if messages %}
        {% for message in messages %}
          <p class="text-danger">{{message}}</p>
        {% endfor %}
      {% endif %}
    </div>
    {% if request.user.is_authenticated %}
      <a class="btn btn-outline-primary btn-sm mt-3" href="{% url 'category_create' %}">Add Category</a>
    {% endif %}
    {% if categories %}
      <table class="table table-sm table-striped mt-3" style="width: 50vw;">
        <thead>          
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
        {% for category in categories %}
          {% if category != "" %}
          <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name|title }} <p style="display: inline;"> [ book count : {{ category.books.count }}]</p></td>
            {% if request.user.is_authenticated %}
            <td>
              <a href="{% url 'category_update' category.id %}">
              <img src="{% static 'images/update.png' %}" alt="Update Category" width="25" height="25">
              </a>
            </td>
              <td>
                <a href="{% url 'category_delete' category.id %}">
                <img src="{% static 'images/delete_icon.png' %}" alt="Delete Category" width="25" height="25">
                </a>
              </td>
            {% endif %}
          </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock %}